body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    text-align: center;
    color: #333;
}

/* HERO */
.hero {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url("hero01.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    max-width: 700px;
    padding: 40px 20px;
    color: white;
}

.hero h1 {
    font-size: 64px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 35px;
    opacity: 0.9;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 14px 34px;
    background: white;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ddd;
    transform: scale(1.05);
}

/* SECTION */
section {
    padding: 60px 20px;
}

/* ABOUT */
.about {
    max-width: 700px;
    margin: auto;
}

/* GALLERY */
.gallery {
    background: #f3f0f8;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.gallery-grid img {
    width: 100%;
    border-radius: 15px;
}

/* AROMA */
.aroma-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: 10px;
}

.aroma-card {
    min-width: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    overflow: hidden;
}

.aroma-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.aroma-card h3 {
    margin: 15px 0 5px;
}

.aroma-card p {
    padding: 0 15px 20px;
    font-size: 14px;
}

#order {
    background: #eee;
    padding: 60px 20px;
}

.order-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-form input,
.order-form select,
.order-form textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.order-form textarea {
    resize: none;
    height: 80px;
}